<html>
<head>
    <title>Shortly</title>
    <link rel="stylesheet" href="/css/w3.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<div class="w3-bar w3-padding w3-indigo" style="margin-top:0;">
    <a href="/" class="w3-bar-item w3-button w3-hover-indigo w3-padding-large"><h1>Shortly</h1></a>
</div>
<div class="w3-container w3-margin" style="width:100%;">
    <div class="w3-display-container shortly-width-50 shortly-block-center w3-panel w3-white w3-border w3-border-red w3-center">
        <p> Page not found </p>
    </div>
</div>
</body>
</html>